/* ----- 表格開始 ------ */

.formTitle {
  font-size: 18px;
  color: #243a41;
  background-color: #ebe7d2;
  padding: 5px 0 5px 20px;
  margin: 4rem 0 1rem 0;
}

form {
  margin: 10px auto 0 auto;
  background-color: #fff;
}

form .form-label {
  font-weight: 500;
  font-size: 16px;
  color: #243a41;
  margin-bottom: 5px;
  margin-left: 1rem;
}

.form-control,
.form-select {
  background-color: #f2f2f2;
  border-radius: 0%;
  border: none;
  padding-left: 1rem;
  letter-spacing: 0.25em;
  font-size: 14px;
}

.form-control::placeholder {
  color: #aaaaaa;
  letter-spacing: 0.25em;
  font-size: 14px;
}

.form-selector select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-color: #6ec3f5;
  border-width: 2px;
  border-radius: 10em;
  color: #1390e8;
  margin-right: 10px;
  outline: none;
  padding: 0.3em 1.25em;
}

form input[type="radio"],
form input[type="checkbox"] {
  margin-right: 10px;
}

form select {
  margin-bottom: 10px;
}

form button[type="submit"] {
  margin-top: 20px;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: var(--bs-btn-active-color);
  background-color: #c7936c;
  border: none;
  padding: 0.2rem 1.1rem;
}

.btn-outline-success {
  border-radius: 0;
  color: #243a41;
  border-color: #243a41;
  padding: 0.1rem 1rem;
  border: #243a41 1.5px solid;
}

.checkBox {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.memberCenertCheckbox {
  padding: 0.2vh 2vw;
  color: #243a41;
  border: #243a41 1.5px solid;
  font-size: 14px;
}

.memberCenertBtn {
  background-color: #c7936c;
  color: white;
  border: none;
  padding: 0.3vh 4vw;
  border-radius: 0;
}

.memberCenertBtn:hover {
  background-color: #e0ab82;
  color: white;
  border: none;
  padding: 0.3vh 4vw;
}

/* ----- 表格結束 ------ */



/* --- main page ---- */

.memberCenterTitle {
  font-size: 18px;
  color: #243a41;
}


.memberCenterform {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 288px;
}

.memberCenterContentImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.memberCenertText {
  font-size: 12px;
  position: inherit;
}

/* ----- 響應式開始 ----- */
@media screen and (max-width: 768px) {
  .memberCenertCheckbox {
    display: flex;
    padding: 0.5rem 1rem;
    color: #243a41;
    font-size: 14px;
    line-height: 1rem;
  }
  .memberCenertText {
    left: 0;
  }

  input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 30px;
    line-height: 0.1rem;
  }

  label[for="checkbox"] {
    font-size: 12px;
  }
}
