.serviceArea {
  background-image: url("../img/serviceArea.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 1900px;
  position: relative;
  overflow: hidden;
}

.bg-color01 {
  background-color: #ebe7d2;
  width: 800px;
  height: 480px;
  position: absolute;
  top: 0%;
  right: 0%;
}
.bg-color02 {
  background-color: #ececec80;
  width: 800px;
  height: 480px;
  position: absolute;
  top: 30%;
  left: 0%;
  margin-top: 160px;
}

.linear-gradient-01 {
  position: absolute;
  bottom: -20px;
  right: 0;
}
.linear-gradient-02 {
  position: absolute;
  top: -20px;
  left: 0;
}
/* --------------會員區塊-------------- */
.memberTitleEN {
  font-family: "KuroW00", sans-serif;
  font-weight: 500;
  font-size: 40pt;
  color: #67819b;
  text-align: left;
  margin-top: 100px;
  position: absolute;
  z-index: 1;
  top: 150px;
  right: 10%;
  letter-spacing: 0.1rem;
}
.memberTitleCH {
  font-family: "思源黑體";
  font-weight: 400;
  font-size: 18pt;
  color: #243a41;
  text-align: left;
  margin-top: 100px;
  position: absolute;
  z-index: 1;
  top: 185px;
  left: 20%;
  letter-spacing: 0.1rem;
}

.memberShopImg {
  position: absolute;
  z-index: 1;
  top: 18%;
  left: 20%;
  width: 100%;
  height: auto;
  overflow: hidden;
}
/* --------------箭頭區塊-------------- */
.sendBtn i {
  border: solid #ca9a74;
  display: inline-block;
}

.sendBtn .rightArrow {
  position: absolute;
  z-index: 2;
  top: 17%;
  right: 20%;
  border-width: 0 5px 3px 0;
  padding: 1px 320px 30px 12px;
  transform: skewX(60deg);
}

.sendBtn .rightArrow:hover {
  transform: skewX(65deg);
  transition: left 0.5s ease-out;
}

.sendBtn2 i {
  border: solid white;
  display: inline-block;
}

.sendBtn2 .rightArrow2 {
  position: absolute;
  z-index: 2;
  bottom: 18%;
  right: 18%;
  border-width: 0 5px 3px 0;
  padding: 1px 120px 10px 12px;
  transform: skewX(60deg);
}

.sendBtn2 .rightArrow2:hover {
  transform: skewX(66deg);
  transition: left 0.5s ease-out;
}
.sendBtn2 .linkSquare {
  position: absolute;
  border: 1px solid white;
  top: 18%;
  right: 20%;
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
}
/* --------------服務項目區塊-------------- */
.serviceTitleEN {
  font-family: "KuroW00", sans-serif;
  font-weight: 500;
  font-size: 40pt;
  color: #67819b;
  text-align: left;
  position: absolute;
  z-index: 1;
  bottom: 45%;
  right: 25%;
  letter-spacing: 0.1rem;
}

.serviceTitleCH {
  font-family: "思源黑體";
  font-weight: 400;
  font-size: 18pt;
  color: #243a41;
  text-align: left;
  position: absolute;
  z-index: 1;
  bottom: 44%;
  right: 25%;
  letter-spacing: 0.1rem;
}

.serviceImg {
  position: absolute;
  z-index: 1;
  bottom: 16%;
  right: 10%;
}
 /* ----------服務項目細節------------ */
.serviceContent {
  font-family: "KuroW00", sans-serif;
  position: absolute;
  z-index: 1;
  bottom: 9%;
  left: 10%;
  width: 35%;
  height: auto;
}

.serviceList {
  margin-bottom: 1rem;
}
.listNum {
  margin-left: -4%;
  color:#67819b;
}
.listTitle {
  color:#243a41;
}
.details {
  font-family: "思源黑體";
  font-weight: 200;
  font-size: 10pt;
  color:#243a41;
}
.price {
  color:#67819b ;
  letter-spacing: 0.1rem;
}


/* --------------最新消息區塊-------------- */
/* ---------footer 設定---------- */
.footer {
  position: relative;
  width: 100%;
  height: 100%;
}

.footerBgVector img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  mix-blend-mode: difference;
}
.footerBgColor {
  background-color: #f4efea;
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.footerInfo {
  position: absolute;
  z-index: 2;
  bottom: 0;
  font-weight: 300;
  font-size: 12px;
  background-color: #67819b;
  width: 100%;
  height: 4%;
  color: white;
  text-align: center;
  letter-spacing: 0.1rem;
}
.footerLinkBg {
  position: absolute;
  z-index: 2;
  bottom: 0;
  translate: 14%;
  font-weight: 300;
  font-size: 12px;
  background-color: #c7936c;
  width: 80%;
  height: 60%;
  color: white;
  text-align: center;
  padding-top: 0.25rem;
  letter-spacing: 0.1rem;
  border-radius: 80px 80px 0 0;
}
.footerLink {
  padding-top: 4rem;
  width: 100%;
  height: 100%;
}
.footerLink a {
  color: white;
  text-decoration: none;
  font-weight: 200;
  font-size: 14px;
  margin: 0 1rem;
  margin-bottom: 1rem;
  display: inline-block;
}
.footerLogo {
  position: relative;
}
.footerLogo img {
  position: absolute;
  transform: translate(20%, -50%);
  z-index: 2;
  top: -0.8rem;
  width: 128px;
  height: 128px;
  text-align: center;
}

.footerShopInfo {
  font-weight: 300;
  font-size: 14px;
}

.newsFooter {
  position: relative;
  width: 100%;
  height: 450px;
}

.newsBg {
  background-image: url("../img/newsBg.png");
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

/* --------------響應式調整-------------- */

@media screen and (max-width: 1150px) {
  .memberTitleEN {
    font-family: "KuroW00", sans-serif;
    font-weight: 500;
    font-size: 40pt;
    color: #67819b;
    text-align: left;
    margin-top: 100px;
    position: absolute;
    z-index: 1;
    top: 5%;
    right: 10%;
    letter-spacing: 0.1rem;
  }
  .memberTitleCH {
    font-family: "思源黑體";
    font-weight: 400;
    font-size: 18pt;
    color: #243a41;
    text-align: left;
    margin-top: 100px;
    position: absolute;
    z-index: 1;
    top: 185px;
    left: 20%;
    letter-spacing: 0.1rem;
  }
  .serviceImg {
    position: absolute;
    z-index: 1;
    bottom: 25%;
  }
}
@media screen and (max-width: 900px) {
  .serviceArea {
    height: 2200px;
  }
  .memberTitleCH {
    font-family: "思源黑體";
    font-weight: 400;
    font-size: 14pt;
    color: #243a41;
    text-align: left;
    margin-top: 100px;
    position: absolute;
    z-index: 1;
    top: 7%;
    left: 2%;
    letter-spacing: 0.1rem;
  }
  .memberTitleEN {
    font-family: "KuroW00", sans-serif;
    font-weight: 500;
    font-size: 30pt;
    color: #67819b;
    text-align: left;
    margin-top: 100px;
    position: absolute;
    z-index: 1;
    top: 2%;
    left: 2%;
    letter-spacing: 0.1rem;
    line-height: 97%;
  }
  .memberShopImg {
    position: absolute;
    z-index: 1;
    top: 18%;
    left: 0%;
    overflow: hidden;
    transition: 0.3s ease-out;
  }
  .memberShopImg img {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .sendBtn .rightArrow {
    position: absolute;
    z-index: 2;
    top: 16%;
    right: 10%;
    border-width: 0 5px 3px 0;
    padding: 1px 120px 10px 12px;
    transform: skewX(60deg);
  }
  .sendBtn2 .rightArrow2 {
    position: absolute;
    z-index: 2;
    bottom: 43%;
    right: 10%;
    border-width: 0 5px 3px 0;
    padding: 1px 120px 10px 12px;
    transform: skewX(60deg);
  }
  .serviceImg {
    position: absolute;
    z-index: 1;
    top: 45%;
    right: 0%;
  }
  .serviceImg img {
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: 0.3s ease-out;
  }
  .bg-color02 {
    background-color: #ececec80;
    width: 800px;
    height: 480px;
    position: absolute;
    top: 42%;
    left: 0%;
    margin-top: 160px;
    transition: 0.3s ease-out;
  }
  .linear-gradient-02 {
    position: absolute;
    top: -20px;
    left: 0;
    transition: 0.3s ease-out;
  }
  .serviceTitleEN {
    font-family: "KuroW00", sans-serif;
    font-weight: 500;
    font-size: 30pt;
    color: #67819b;
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 37%;
    left: 2%;
    letter-spacing: 0.1rem;
    transition: 0.3s ease-out;
  }

  .serviceTitleCH {
    font-family: "思源黑體";
    font-weight: 400;
    font-size: 14pt;
    color: #243a41;
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 40.5%;
    left: 2%;
    letter-spacing: 0.1rem;
    transition: 0.3s ease-out;
  }
  .serviceContent {
    font-family: "KuroW00", sans-serif;
    position: absolute;
    z-index: 1;
    bottom: 7%;
    left: 8%;
    width: 100%;
    height: auto;
  }
}
