/* --------------slide-------------- */
.banner{
  position: relative;
  z-index: -1;
  top: -112px;
}
.serviceArea {
  background-image: url("../img/serviceArea.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 1900px;
  position: relative;
  overflow: hidden;
}

.index-bg-color01 {
  background-color: #ebe7d2;
  width: 800px;
  height: 480px;
  position: absolute;
  top: 0%;
  right: 0%;
}
.index-bg-color02 {
  background-color: #ececec80;
  width: 800px;
  height: 480px;
  position: absolute;
  top: 30%;
  left: 0%;
  margin-top: 160px;
}

.index-linear-gradient-01 {
  position: absolute;
  bottom: -20px;
  right: 0;
}
.index-linear-gradient-02 {
  position: absolute;
  top: -20px;
  left: 0;
}
/* --------------會員區塊-------------- */
.memberTitleEN {
  font-family: "KuroW00", sans-serif;
  font-weight: 500;
  font-size: 40pt;
  color: #67819b;
  text-align: left;
  margin-top: 100px;
  position: absolute;
  z-index: 1;
  top: 150px;
  right: 10%;
  letter-spacing: 0.1rem;
}
.memberTitleCH {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 400;
  font-size: 18pt;
  color: #243a41;
  text-align: left;
  margin-top: 100px;
  position: absolute;
  z-index: 1;
  top: 185px;
  left: 20%;
  letter-spacing: 0.1rem;
}

.memberShopImg {
  position: absolute;
  z-index: 1;
  top: 18%;
  left: 20%;
  width: 100%;
  height: auto;
  overflow: hidden;
}
/* --------------箭頭區塊-------------- */
.sendBtn i {
  border: solid #ca9a74;
  display: inline-block;
}

.sendBtn .rightArrow {
  position: absolute;
  z-index: 2;
  top: 17%;
  right: 20%;
  border-width: 0 5px 3px 0;
  padding: 1px 320px 30px 12px;
  transform: skewX(60deg);
}

.sendBtn .rightArrow:hover {
  transform: skewX(65deg);
  transition: left 0.5s ease-out;
}

.sendBtn2 i {
  border: solid white;
  display: inline-block;
}

.sendBtn2 .rightArrow2 {
  position: absolute;
  z-index: 2;
  bottom: 18%;
  right: 18%;
  border-width: 0 5px 3px 0;
  padding: 1px 120px 10px 12px;
  transform: skewX(60deg);
}

.sendBtn2 .rightArrow2:hover {
  transform: skewX(66deg);
  transition: left 0.5s ease-out;
}
.sendBtn2 .linkSquare {
  position: absolute;
  border: 1px solid white;
  top: 18%;
  right: 20%;
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
}
/* --------------服務項目區塊-------------- */
.serviceTitleEN {
  font-family: "KuroW00", sans-serif;
  font-weight: 500;
  font-size: 40pt;
  color: #67819b;
  text-align: left;
  position: absolute;
  z-index: 1;
  bottom: 45%;
  right: 25%;
  letter-spacing: 0.1rem;
}

.serviceTitleCH {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 400;
  font-size: 18pt;
  color: #243a41;
  text-align: left;
  position: absolute;
  z-index: 1;
  bottom: 44%;
  right: 25%;
  letter-spacing: 0.1rem;
}

.serviceImg {
  position: absolute;
  z-index: 1;
  bottom: 16%;
  right: 10%;
}
 /* ----------服務項目細節------------ */
.serviceContent {
  font-family: "KuroW00", sans-serif;
  position: absolute;
  z-index: 1;
  bottom: 9%;
  left: 10%;
  width: 35%;
  height: auto;
}

.serviceList {
  margin-bottom: 1rem;
}
.listNum {
  margin-left: -4%;
  color:#67819b;
}
.listTitle {
  color:#243a41;
}
.details {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 200;
  font-size: 10pt;
  color:#243a41;
}
.price {
  color:#67819b ;
  letter-spacing: 0.1rem;
}


/* --------------最新消息區塊-------------- */

.circle-slide-area {
  height: 1500px;
  overflow: hidden;
  padding-top: 236px;
}
.circle-slide-area .logoTag {
  position: absolute;
  top: 192px;
  left: 296px;
}
.circle-slide-area .titleTag {
  font-family: "KuroW00", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #243a41;
  position: absolute;
  top: 192px;
  left: 1472px;
}

.bg-box {
  max-width: unset !important;
  width: 1920px !important;
  height: 285px;
  position: absolute;
  top: -212px;
  left: -749px;
  z-index: 11;
}
.bg-box .bg {
  width: 1920px !important;
  position: absolute;
  height: unset !important;
}

.bg-footr-box {
  max-width: unset;
  width: 1920px !important;
  height: 1220px !important;
  position: absolute;
  top: 44px;
  left: -749px;
}
.bg-footr-box .bg {
  width: 1920px !important;
  position: absolute;
  height: 100% !important;
}

.circle-carousel {
  transform-origin: bottom;
  position: relative;
  z-index: -1;
  margin-left: -420px;
  display: flex;
  flex-direction: column;
}

.circle-carousel .circle-container {
  position: relative;
  padding: 0;
  list-style: none;
  margin: 0 auto 0;
  z-index: -1;
}
.circle-carousel .circle-container > * {
  display: block;
  position: absolute;
  width: 416px;
}
.circle-carousel .circle-container img {
  display: block;
  width: 416px;
  height: 520px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  transition: 0.15s;
}
.circle-carousel .circle-container img:hover, .circle-carousel .circle-container img:active {
  filter: grayscale(0);
}
.circle-carousel .circle-container li {
  max-width: 416px;
  height: 520px;
}
li.active {
  transform: rotate(0deg);
  z-index: 10;
}
li.active .newsLink {
  display: block;
  display: flex;
}

.next {
  transform: rotate(24deg) !important;
  top: 112px !important;
  left: 528px !important;
}

.before {
  transform: rotate(-24deg) !important;
  top: 112px !important;
  left: -528px !important;
}

.next2 {
  transform: rotate(48deg) !important;
  top: 424px !important;
  left: 960px !important;
}

.before2 {
  transform: rotate(-48deg) !important;
  top: 424px !important;
  left: -960px !important;
}

.title-box {
  position: absolute;
  top: 584px;
  left: 0;
  z-index: 11;
  height: unset !important;
  text-align: center;
}
.title-box .newsTitleEN {
  color: #67819b;
  font-size: 54px;
  letter-spacing: 0.2rem;
  margin-bottom: 0;
}
.title-box .newsTitleCH {
  color: #243a41;
  font-size: 20px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}

.newsLink {
  border-radius: 5px;
  background: #fff;
  opacity: 0.85;
  box-shadow: -5px 5px 13px 6px rgba(0, 0, 0, 0.15);
  width: 560px;
  margin-left: -72px;
  padding-top: 24px;
  padding-bottom: 24px;
  position: absolute;
  top: 704px;
  display: flex;
  justify-content: center;
  display: none;
}
.newsLink .news-img {
  margin-right: 16px;
  width: 40px;
}
.newsLink .news-img img {
  width: 40px !important;
  height: 40px !important;
}
.newsLink .sendBtn {
  margin-right: 48px;
  right: 0 !important;
  border: 0 !important;
  bottom: 32px !important;
  position: absolute;
  z-index: 999;
}
.newsLink .rightArrow {
  position: absolute;
  top: 36px !important;
  right: -4px !important;
}
.newsLink .box1 {
  position: absolute;
}

.index-footer {
  background-image: url(../img/footer_bg.png);
  background-repeat: repeat;
  margin-top: -248px;
}


/* --------------響應式調整-------------- */

@media screen and (max-width: 1150px) {
  .memberTitleEN {
    font-family: "KuroW00", sans-serif;
    font-weight: 500;
    font-size: 40pt;
    color: #67819b;
    text-align: left;
    margin-top: 100px;
    position: absolute;
    z-index: 1;
    top: 5%;
    right: 10%;
    letter-spacing: 0.1rem;
  }
  .memberTitleCH {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 18pt;
    color: #243a41;
    text-align: left;
    margin-top: 100px;
    position: absolute;
    z-index: 1;
    top: 185px;
    left: 20%;
    letter-spacing: 0.1rem;
  }
  .serviceImg {
    position: absolute;
    z-index: 1;
    bottom: 25%;
  }
}
@media screen and (max-width: 900px) {
  .banner{
    position: unset;
  }
  .serviceArea {
    height: 2200px;
  }
  .memberTitleCH {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    color: #243a41;
    text-align: left;
    margin-top: 100px;
    position: absolute;
    z-index: 1;
    top: 7%;
    left: 2%;
    letter-spacing: 0.1rem;
  }
  .memberTitleEN {
    font-family: "KuroW00", sans-serif;
    font-weight: 500;
    font-size: 30pt;
    color: #67819b;
    text-align: left;
    margin-top: 100px;
    position: absolute;
    z-index: 1;
    top: 2%;
    left: 2%;
    letter-spacing: 0.1rem;
    line-height: 97%;
  }
  .memberShopImg {
    position: absolute;
    z-index: 1;
    top: 18%;
    left: 0%;
    overflow: hidden;
    transition: 0.3s ease-out;
  }
  .memberShopImg img {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .sendBtn .rightArrow {
    position: absolute;
    z-index: 2;
    top: 16%;
    right: 10%;
    border-width: 0 5px 3px 0;
    padding: 1px 120px 10px 12px;
    transform: skewX(60deg);
  }
  .sendBtn2 .rightArrow2 {
    position: absolute;
    z-index: 2;
    bottom: 43%;
    right: 10%;
    border-width: 0 5px 3px 0;
    padding: 1px 120px 10px 12px;
    transform: skewX(60deg);
  }
  .serviceImg {
    position: absolute;
    z-index: 1;
    top: 45%;
    right: 0%;
  }
  .serviceImg img {
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: 0.3s ease-out;
  }
  .index-bg-color01 {
    background-color: #ebe7d2;
    width: 100%;
    height: 500px;
    position: absolute;
    top: -5%;

  }  
  .index-linear-gradient-01 {
    position: absolute;
    bottom: -20px;
  }
  .index-bg-color02 {
    background-color: #ececec80;
    width: 800px;
    height: 480px;
    position: absolute;
    top: 42%;
    left: 0%;
    margin-top: 160px;
    transition: 0.3s ease-out;
  }
  .index-linear-gradient-02 {
    position: absolute;
    top: -20px;
    left: 0;
    transition: 0.3s ease-out;
  }
  .serviceTitleEN {
    font-family: "KuroW00", sans-serif;
    font-weight: 500;
    font-size: 30pt;
    color: #67819b;
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 37%;
    left: 2%;
    letter-spacing: 0.1rem;
    transition: 0.3s ease-out;
  }

  .serviceTitleCH {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    color: #243a41;
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 40.5%;
    left: 2%;
    letter-spacing: 0.1rem;
    transition: 0.3s ease-out;
  }
  .serviceContent {
    font-family: "KuroW00", sans-serif;
    position: absolute;
    z-index: 1;
    bottom: 7%;
    left: 8%;
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .newsLink {
    width: 420px;
        margin: 0;
    padding-left: 16px;
    padding-right: 16px;
  }
  .newsLink p {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 576px) {
  .newsLink {
    width: 350px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: -17px;
  }
  .circle-carousel {
    margin-left: -316px;
  }
  .bg-box {
    top: -160px;
    left: -560px;
  }
  .bg-box .bg {
    width: 1440px !important;
    height: 216px !important;
  }
  .title-box {
    top: 416px;
  }
  .newsLink {
    top: 536px;
  }
  .circle-carousel .circle-container > * {
    width: 316px;
  }
  .circle-carousel .circle-container img {
    width: 316px;
    height: unset;
    aspect-ratio: 0.8;
  }
  .index-footer {
    margin-top: -386px;
  }
  .next {
    top: 80px !important;
    left: 376px !important;
  }
  .before {
    top: 80px !important;
    left: -376px !important;
  }
}

/* 調整 */
.sendBtn2 .rightArrow2{
  bottom: unset;
  right: unset;
  left: 4px;
  top: -8px;
  padding: 1px 80px 10px 12px;
}

.sendBtn2{
  position: absolute;
    z-index: 2;
    bottom: 18%;
    right: 20%;
}
.sendBtn2 .box1{
  position: absolute;
  left: 184px;
  bottom: 1px;
}

@media screen and (max-width: 576px) {
  
.sendBtn2{
  display: none;
}
}
