
.w3-button {
  display: flex;
  justify-content: right;
  margin-top: 3rem;
  list-style: none;
  font-family: "思源黑體";
  font-weight: 500;
  font-size: 16pt;
  color: #616364;
  text-decoration: none;
  letter-spacing: 0.1rem;
  border: none;
  background-color: none;
}

.open {
  background-color: none;
  color: #cb9b78;
  border: none;
  font-size: 16pt;
}

/* --------------longin區塊-------------- */

.loginBox {
  height: 857px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 70% 30%;
  color: #616364;
  margin: 0 auto;
}

.leftSite {
  grid-area: 1 / 1 / 2 / 2;
}

.leftBottom {
  grid-area: 2/ 1 / 3 / 2;
}

.rightBottom {
  grid-area: 2/ 2 / 3 / 3;
}

.leftSite input {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-width: 1px;
  width: 84%;
  margin-top: 25px;
  color: #a2a2a2;
}

.rightSite {
  grid-area: 1 / 2 / 2 / 3;
}

.title {
  background: #ebe7d2;
}

.inputTile {
  color: #d2a989;
}

.loginBtn {
  width: 30%;
  height: 32px;
  background: #c7936c;
  text-align: center;
  color: white;
  margin: 0 auto;
}
.loginBtn a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.thirdSiteIcon {
  margin: 0 auto;
  width: 320px;
  height: 20px;
  object-fit: cover;
}

.joinBtn {
  width: 30%;
  height: 32px;
  background: #243a41;
  text-align: center;
  color: white;
  margin: 0 auto;
}
.joinBtn a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}



@media screen and (max-width: 700px) {

  .loginBox {
    /* height: 220vh; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 615px 230px 350px 100px;
    color: #000;
    margin: 0 auto;
  }

  .leftSite {
    grid-area: 1 / 1 / 2 / 2;
  }

  .leftBottom {
    grid-area: 2/ 1 / 3 / 2;
  }

  .rightSite {
    grid-area: 3 / 1 / 4 / 2;
  }

  .rightBottom {
    grid-area: 4 / 1 / 5 / 2;
  }

  .leftSite input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-width: 1px;
    width: 84%;
    margin-top: 25px;
    color: #a2a2a2;
  }

  .title {
    text-align: center;
    background: #ebe7d2;
  }

  .inputTile {
    color: #d2a989;
  }

  .loginBtn {
    width: 30%;
    height: 32px;
    background: #c7936c;
    text-align: center;
    color: white;
    margin: 0 auto;
  }

  .thirdSiteIcon {
    width: 316px;
    height: 50px;
    margin: 0 auto;
  }

  .joinBtn {
    width: 30%;
    height: 32px;
    background: #243a41;
    text-align: center;
    color: white;
    margin: 5rem auto;
  }

}


