.newsContent {
  color: #243a41;
}
.newsImg {
  width: 100%;
  height: 390px;
  object-fit: cover;
  border-radius: 5%;
}
.newsLinkA {
  width: 100%;
  height: auto;
  letter-spacing: 0.1rem;
  transform: translate(-5%, 50%);
}
.newsLinkB {
  width: 100%;
  height: auto;
  letter-spacing: 0.1rem;
  transform: translate(10%, 60%);
}
.dateTags {
  width: 100px;
  height: 30px;
  background-color: #c7936c;
  color: white;
  border-radius: 5rem 0 5rem 5rem;
}

/* ----------news 文章內頁----------- */
.news-article {
  color: #707070;
  font-weight: 100;
  letter-spacing: 0.1rem;
  line-height: 2rem;
}
.collectIcon {
  color: #243a41;
  font-size: 1.2rem;
}
.collect {
  background-color: #243a41;
  color: white;
  padding: 0.3rem 0.3rem 0.2rem 0.5rem;
  border-radius: 50%;
}
.collect:hover {
  background-color: #c7936c;
}

@media screen and (max-width: 768px) {
  .newsTags {
    font-size: 14px;
  }
  .newsContainer {
    width: 90%;
    margin-top: 6rem;
  }
  .newsLinkA {
    margin: 1rem auto;
    width: 100%;
    height: auto;
    letter-spacing: 0.1rem;
    transform: translate(0%, 0%);
  }
  .newsLinkB {
    margin: 1rem auto;
    width: 100%;
    height: auto;
    letter-spacing: 0.1rem;
    transform: translate(0%, 0%);
  }
}
