.partnersBg {
  position: relative;
  height: 100%;
}
.partnersBg .partnersBgImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.partnersTitle {
  color: #737d81;
}
.partnersTitleEN {
  font-family: "KuroW00", sans-serif;
  font-weight: 500;
  font-size: 40pt;
  color: #67819b;
  text-align: left;
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 26%;
  letter-spacing: 0.1rem;
}

.partnersBread-crumb {
  position: absolute;
  z-index: 1;
  top: 35%;
  right: 10%;
  font-weight: 500;
  font-size: 12px;
  color: #243a41;
  max-width: 100%;
  max-height: 100%;
  text-decoration: none;
}
.partnersBread-crumb i {
  color: white;
  background-color: #243a41;
  padding: 0.1rem 0.3rem 0.2rem 0.3rem;
  border-radius: 50%;
}

.partnersContainer {
  width: 75%;
  height: 160vh;
  color: #828b8e;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin: 0 auto;
}
.partnersContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.partnersContentImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.partnersLogo {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  margin:5rem 0;
  padding-left: 2%;
  padding-right: 2%;
}

.partnersLogo  img {
  max-width: 100%;
}


@media screen and (max-width: 768px) {

  .partnersBread-crumb {
    position: absolute;
    z-index: 1;
    top: 90%;
    right: 3%;
    font-weight: 500;
    font-size: 12px;
    color: #243a41;
    max-width: 100%;
    max-height: 100%;
    text-decoration: none;
  }
  .partnersTitleEN {
    font-family: "KuroW00", sans-serif;
    font-weight: 500;
    font-size: 25pt;
    color: #67819b;
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 25%;
    letter-spacing: 0.1rem;
  }
  .partnersBread-crumb {
    font-size: 10px;
  }
  .partnersTags {
    font-size: 14px;
  }
  .partnersContainer {
    width: 90%;
    margin-top: 6rem;
  }
  .partnersLogo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 5rem;
    padding-left: 2%;
    padding-right: 2%;
  }
  .partnersContainer {
    height: 100%;
  }
}
