
.w3-button {
  display: flex;
  justify-content: right;
  margin-top: 3rem;
  list-style: none;
  font-weight: bold;
  font-size: 18px;
  color: #616364;
  text-decoration: none;
  letter-spacing: 0.1rem;
  border: none;
  background-color: none;
}
.w3-text-brown {
  color: #cb9b78;
}


