
.serviceBg {
  position: relative;
  height: 100%;
}
.serviceBg .serviceBgImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.serviceTitle {
  color: #737d81;
}
.serviceTitleEN {
  font-weight: 500;
  font-size: 40pt;
  color: #67819b;
  text-align: left;
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 26%;
  letter-spacing: 0.1rem;
}

.serviceBread-crumb {
  position: absolute;
  z-index: 1;
  top: 35%;
  right: 10%;
  font-weight: 500;
  font-size: 12px;
  color: #243a41;
  max-width: 100%;
  max-height: 100%;
  text-decoration: none;
}
.serviceBread-crumb i {
  color: white;
  background-color: #243a41;
  padding: 0.1rem 0.3rem 0.2rem 0.3rem;
  border-radius: 50%;
}

.serviceContainer {
  width: 75%;
  height: 180vh;
  color: #828b8e;
  line-height: 2rem;
  letter-spacing: 0.2rem;
  margin: 0 auto;
}

.serviceContentImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.w3-button {
  display: flex;
  justify-content: right;
  margin-top: 3rem;
  list-style: none;
  font-weight: 500;
  font-size: 16pt;
  color: #616364;
  text-decoration: none;
  letter-spacing: 0.1rem;
  border: none;
  background-color: none;
}
.w3-text-brown {
  color: #cb9b78;
}

@media screen and (max-width: 768px) {
  .serviceBread-crumb {
    position: absolute;
    z-index: 1;
    top: 90%;
    right: 3%;
    font-weight: 500;
    font-size: 12px;
    color: #243a41;
    max-width: 100%;
    max-height: 100%;
    text-decoration: none;
  }
  .serviceTitleEN {
    font-family: "KuroW00", sans-serif;
    font-weight: 500;
    font-size: 30pt;
    color: #67819b;
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 25%;
    letter-spacing: 0.1rem;
  }

  .serviceBread-crumb {
    font-size: 10px;
  }
  .serviceTags {
    font-size: 14px;
  }
  .serviceContainer {
    width: 90%;
    margin-top: 6rem;
  }
}
