.shopBg {
  position: relative;
  height: 100%;
}
.shopBg .shopBgImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentPageLine {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 5rem;
}
.logoTag {
  position: absolute;
  z-index: 1;
  top: 18%;
  left: 7%;
  font-weight: 500;
  font-size: 18px;
  color: #243a41;
  max-width: 100%;
  max-height: 100%;
}
.shopTitle {
  color: #737d81;
}
.shopTitleEN {
  font-weight: 500;
  font-size: 40pt;
  color: #67819b;
  text-align: left;
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 26%;
  letter-spacing: 0.1rem;
}

.bg-color01 {
  background-color: #ebe7d2;
  width: 25rem;
  height: 10rem;
  position: absolute;
  top: -14%;
  right: 0%;
  overflow: hidden;
}

.linear-gradient-01 {
  position: absolute;
  bottom: -1px;
  left: 0;
}

.shopBread-crumb {
  position: absolute;
  z-index: 1;
  top: 35%;
  right: 10%;
  font-weight: 500;
  font-size: 12px;
  color: #243a41;
  max-width: 100%;
  max-height: 100%;
  text-decoration: none;
}
.shopBread-crumb i {
  color: white;
  background-color: #243a41;
  padding: 0.1rem 0.3rem 0.2rem 0.3rem;
  border-radius: 50%;
}

.shopContainer {
  width: 75%;
  height: 210vh;
  margin: 0 auto;
}
.shopContent {
  color: #243a41;
}
.shopImg {
  width: 100%;
  height: 390px;
  object-fit: cover;
  border-radius: 5%;
}
.shopLinkA {
  width: 100%;
  height: auto;
  letter-spacing: 0.1rem;
  transform: translate(-5%, 50%);
}
.shopLinkB {
  width: 100%;
  height: auto;
  letter-spacing: 0.1rem;
  transform: translate(10%, 60%);
}
.dateTags {
  width: 100px;
  height: 30px;
  background-color: #c7936c;
  color: white;
  border-radius: 5rem 0 5rem 5rem;
}
/* -------arrow-------- */
.sendBtn i {
  border: solid #ca9a74;
  display: inline-block;
}
.sendBtn .rightArrow {
  border-width: 0 3px 2px 0;
  padding: 1px 90px 5px 5px;
  transform: skewX(60deg);
}
.sendBtn .box {
  width: 40px;
  height: 40px;
  border: 2px solid #ca9a74;
  transform: rotate(45deg) translateX(-2%) translateY(70%);
}
/* ------------Pagination---------- */
.pagination {
  margin: 4rem;
}
.pagination li a {
  border: none;
  background-color: none;
  color: #67819b;
  font-size: 1.5rem;
  padding: 2 1rem;
}
.page-item.active .page-link {
  background-image: url(../img/paginationBg.png);
  background-size: cover;
  background-position: center;
  background-color: white;
  color: #67819b;
  font-size: 1.5rem;
}
/* ----------shop 文章內頁----------- */
.shop-article {
  font-family: "Noto Sans TC", sans-serif;
  color: #707070;
  font-weight: 100;
  letter-spacing: 0.1rem;
  line-height: 2rem;
}
.collectIcon {
  color: #243a41;
  font-size: 1.2rem;
}
.collect {
  background-color: #243a41;
  color: white;
  padding: 0.3rem 0.5rem 0.2rem 0.5rem;
  border-radius: 50%;
}
.collect:hover {
  background-color: #c7936c;
  color: white;
  padding: 0.3rem 0.5rem;
  border-radius: 50%;
}

/* ----------產品列表---------- */
.product {
  text-decoration: none;
  list-style: none;
}
.productsTitle {
  font-family: "Noto Sans TC", sans-serif;
  color: #243a41;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
.productsDetail {
  font-family: "Noto Sans TC", sans-serif;
  color: #707070;
  font-weight: 100;
  letter-spacing: 0.1rem;
}
.product p {
  color: #30454a;
}
.product del {
  color: #30454a;
}

.product:hover {
  background-image: url(../img/productsHoverBg.png);
  background-size: cover;
  transition: all 1s ease;
  transform: scale(1);
  text-align: center;
  padding: 0.5rem;
  border-radius: 1rem;
  height: 100%;
  z-index: 2;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}
.hairTypeCollect {
  text-decoration: none;
  color: #707070;
  font-size: 0.9rem;
  padding: 1.5rem 0;
  list-style: none;
}
.hairTypeCollect li {
  text-decoration: none;
  margin-bottom: 0.3rem;
}
.hairTypeCollect li:hover {
  text-decoration: none;
  color: #c7936c;
  cursor: pointer;
}
.productsBtns {
  display: none;
}
.product:hover .productsBtns {
  display: block;
}
/* ----------單一產品頁面-------- */
.productDetailImg {
  width: 10%;
  height: 10%;
  object-fit: cover;
  border-radius: 5%;
  margin-bottom: 1rem;
}
.productDetailImg img:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.singleProductImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}
.singleProductImg:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
select {
  border: none;
  background-color: #e7e7e7;
  text-align: center;
}
.addToCartBtn {
  background-color: #c7936c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  width: 48%;
}
.addToCollectBtn {
  background-color: #243a41;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  width: 48%;
}
.addToCartBtn:hover {
  background-color: #99653a;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}
.addToCollectBtn:hover {
  background-color: #3b606b;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}
.productDescription {
  color: #707070;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  margin: 1rem 0;
}



@media screen and (max-width: 768px) {
  .productDetailImg {
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 5%;
    margin-bottom: 3rem;
  }
  .shopContainer {
    width: 100%;
    height: 550vh;
    margin: 0 auto;
  }
  .bg-color01 {
    background-color: #ebe7d2;
    width: 100%;
    height: 10rem;
    position: absolute;
    top: 10%;
    right: 0%;
    overflow: hidden;
  }

  .linear-gradient-01 {
    position: absolute;
    bottom: -2px;
    left: 0;
  }
  .shopBread-crumb {
    position: absolute;
    z-index: 1;
    top: 90%;
    right: 3%;
    font-weight: 500;
    font-size: 12px;
    color: #243a41;
    max-width: 100%;
    max-height: 100%;
    text-decoration: none;
  }
  .shopTitleEN {
    font-weight: 500;
    font-size: 30pt;
    color: #67819b;
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 25%;
    letter-spacing: 0.1rem;
  }
  .contentPageLine {
    display: none;
  }
  .logoTag {
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 3%;
    font-weight: 500;
    font-size: 14px;
    color: #243a41;
    max-width: 100%;
    max-height: 100%;
  }
  .shopBread-crumb {
    font-size: 10px;
  }
  .shopTags {
    font-size: 14px;
  }
  .shopContainer {
    width: 90%;
    margin-top: 6rem;
  }
  .shopLinkA {
    margin: 1rem auto;
    width: 100%;
    height: auto;
    letter-spacing: 0.1rem;
    transform: translate(0%, 0%);
  }
  .shopLinkB {
    margin: 1rem auto;
    width: 100%;
    height: auto;
    letter-spacing: 0.1rem;
    transform: translate(0%, 0%);
  }
}
