/* Fonts */
@font-face {
  font-family: "KuroW00";
  src: url("./fonts/5cfbae91ba82e6689f76fdc43d9444b7.woff") format("woff"),
    url("./fonts/5cfbae91ba82e6689f76fdc43d9444b7.woff2") format("woff2");
}

* {
  font-family: "KuroW00", "Noto Sans TC", sans-serif;
}

/* ---------導覽列 開始--------- */
nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  z-index: 2;
  background-color: #c7936c;
  height: 122px;
}

.navbar > .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: center;
}
.navbar-wrapper {
  position: relative;
  height: 10vh;
  /* z-index: 999; */
}

.navbar-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  background-color: #243a41;
}

/* nav fixed */
.line1 {
  color: #243a41;
  margin-bottom: 20px;
}

.triangle {
  margin-left: 8px;
}

.navbar-expand-lg {
  padding-bottom: 24px;
}

.navBar {
  background-color: #c7936c;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  z-index: 2;
  background-color: #c7936c;
}

.nav-bar-icons {
  background-color: #243a41;
  color: #c9ced0;
  border-radius: 2rem;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 28px;
  margin-top: 16px;
  padding-left: 8px;
  padding-right: 8px;
}
.nav-bar-icons a {
  text-decoration: none;
}
.nav-bar-icons i {
  padding-right: 8px;
  padding-left: 8px;
}

.iconLine {
  border: solid 2px #c7936c;
}

.nav-item {
  margin: 56px 32px 0px 32px;
}
.nav-item:hover {
  transform: scale(1.1);
}
.nav-item:hover .nav-link {
  font-weight: bold;
  color: #243a41;
}
.nav-item:hover .line1 {
  color: #ebe7d2;
}
.nav-item:hover .dropdown-menu {
  display: block;
  color: white;
  top: 85%;
  text-align: center;
  background-color: rgba(123, 144, 163, 0.8);
  border-top: #243a41 8px solid;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  animation-name: fade-in;
  animation-duration: 0.25s;
  animation-timing-function: ease;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #243a41;
  background-color: #ebe7d2;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  color: #ebe7d2;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-wrap: break-word;
  line-height: 0.2;
}

.triangle {
  text-decoration: none;
  padding-bottom: 1rem;
}

.brackets {
  display: none;
}

.navbar .active .brackets {
  display: inline;
  padding-left: 8px;
  padding-right: 8px;
  color: #ebe7d2;
}
.navbar .active .line2 {
  margin-left: 20.66px;
}
.navbar .active .triangle {
  margin-left: unset;
  color: #243a41;
}

.w3-button {
  background-color: white;
  color: #67819b;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 16px;
}
.w3-button:hover {
  background-color: white;
  color: white;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 16px;
}
/* ---------導覽列 結束--------- */
a {
  background-color: transparent;
}

a:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in;
}
/* 內頁背景色塊位置 */
.bg-color01 {
  background-color: #ebe7d2;
  width: 40vw;
  height: 220px;
  position: absolute;
  margin-top: -120px;
  right: 0%;
  overflow: hidden;
}

.linear-gradient-01 {
  position: absolute;
  bottom: -1px;
  left: 0;
}

.logoTag {
  font-family: "KuroW00", sans-serif;
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 7%;
  font-weight: 500;
  font-size: 18px;
  color: #243a41;
  max-width: 100%;
  max-height: 100%;
}
.contentPageLine {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 5rem;
}


/* -------arrow-------- */
.sendBtn i {
  border: solid #ca9a74;
  display: inline-block;
}
.sendBtn .rightArrow {
  border-width: 0 3px 2px 0;
  padding: 1px 90px 5px 5px;
  transform: skewX(60deg);
}
.sendBtn .leftArrow {
  border-width: 0 0 1px 3px;
  padding: 4px 70px 1px 11px;
  transform: skewX(-60deg);
}
.sendBtn .box1 {
  width: 40px;
  height: 40px;
  border: 2px solid #ca9a74;
  transform: rotate(45deg) translateX(-2%) translateY(70%);
}
.sendBtn .box2 {
  width: 40px;
  height: 40px;
  border: 1px solid #ca9a74;
  transform: rotate(45deg) translateX(-150%) translateY(220%);
}

/* ------------Pagination---------- */
.pagination {
  margin: 4rem;
}
.pagination li a {
  border: none;
  background-color: none;
  color: #67819b;
  font-size: 1.5rem;
  padding: 2 1rem;
}
.page-item.active .page-link {
  background-image: url(../img/paginationBg.png);
  background-size: cover;
  background-position: center;
  background-color: white;
  color: #67819b;
  font-size: 1.5rem;
}

/* ---------footer 設定---------- */
footer {
  margin-top: 80px;
}
.footerDesign {
  background-color: #67819b;
  text-align: center;
  font-weight: 300;
  font-size: 12px;
  color: white;
  letter-spacing: 0.1rem;
}
.footerBox {
  position: relative;
  background-color: #c7936c;
  border-radius: 80px 80px 0 0;
  font-size: 12px;
  color: white;
  text-align: center;
  letter-spacing: 0.1rem;
  padding-top: 80px;
}

.footerContainer {
  font-weight: 300;
  font-size: 14px;
  text-align: start;
  margin-left: 96px;
  margin-right: 96px;
  padding-bottom: 48px;
}
.footerShopInfo {
  font-weight: 300;
  font-size: 14px;
}
.footerNav a {
  color: white;
  text-decoration: none;
  font-weight: 200;
  font-size: 14px;
  margin-bottom: 1rem;
  display: inline-block;
}

.footerMap {
  text-align: end;
  margin-top: -32px;
}
.footerLogoImg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ---------footer 結束---------- */

/* --------- RWD調整 ---------- */
@media screen and (max-width: 992px) {
  .nav-container {
    background-color: #c7936c;
  }
  .nav-bar-icons {
    display: flex;
    justify-content: space-evenly;
    border-radius: 2rem;
    text-align: center;
    position: unset;
    margin: 16px 16px 0 16px;
    padding: 8px;
  }
  .iconLine {
    border: solid 2px #c7936c;
  }
  .nav-item {
    margin-top: 16px;
    justify-content: center;
  }
  .nav-link {
    align-items: center;
  }
  .nav-item:hover .dropdown-menu {
    position: absolute;
  }
  .navbar .active .line2 {
    margin-left: unset;
  }
  .nav-bar-icons a:hover {
    color: white;
  }
  /* -------背景色塊手機版--------- */
  .bg-color01 {
    background-color: #ebe7d2;
    width: 100%;
    height: 15rem;
    position: absolute;
    top: 90%;
    right: 0%;
    overflow: hidden;
  }

  .linear-gradient-01 {
    position: absolute;
    bottom: -2px;
    left: 0;
  }
  .logoTag {
    position: absolute;
    z-index: 1;
    top: 95%;
    left: 3%;
    font-family: "KuroW00", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #243a41;
    max-width: 100%;
    max-height: 100%;
  }
  .contentPageLine {
    display: none;
  }
  footer {
    margin-top: 80px;
  }
  .footerBox {
    border-radius: 60px 60px 0 0;
  }
  .footerContainer {
    margin-left: 16px;
    margin-right: 16px;
  }
  .footerMap {
    text-align: center;
    margin-top: 8px;
  }
}

/* --------- 動畫 --------- */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

