@font-face {
  font-family: "KuroW00";
  src: url("./fonts/5cfbae91ba82e6689f76fdc43d9444b7.woff") format("woff"),
    url("./fonts/5cfbae91ba82e6689f76fdc43d9444b7.woff2") format("woff2");
}

body {
  font-family: "KuroW00", "Noto Sans TC", sans-serif;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #c7936c;
  height: 122px;
}

.navbar {
  z-index: 1;
}
.navbar-wrapper {
  position: relative;
  height: 10vh;
  z-index: 999;
}
.navbar-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -300px;
  height: 64px;
  background-color: #243a41;
}
.navbar-brand img {
  height: 8vh;
}
.collapseList {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-collapse {
  margin-top: 3vh;
}
.navbar-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}
.navbar-nav li {
  padding-left: 20px;
  padding-right: 20px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  color: #756656;
  background-color: #c7936ccc;
}



.nav-bar-icons {
  position: absolute;
  z-index: 2;
  width: 4.3rem;
  height: 1.5rem;
  background-color: #243a41;
  color: white;
  top: 7%;
  right: 0;
  border-radius: 2rem;
  text-align: center;
  letter-spacing: 0.3rem;
  margin-right: 2vw;
  padding-left: 0.2rem;
  padding-bottom: 0.2rem;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  line-height: 0.5;
  text-align: center;
}

.line1 {
  color: #243a41;
}

.line2 {
  color: white;
}
.active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.active::before {
  margin: 0 0.25rem;
  content: "( ";
  color: white;
  right: 0;
}
.active::after {
  margin: 0 0.25rem;
  content: " ) ";
  color: white;
}

.navbar-toggler {
  margin-top: 40px;
}

/* ---------footer 設定---------- */
.footer {
  position: relative;
  width: 100%;
  height: 100%;
}

.footerBgVector img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: -100%;
  mix-blend-mode: difference;
}
.footerBgColor {
  background-color: #f4efea;
  width: 100%;
  height: 180%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.footerInfo {
  position: absolute;
  z-index: 2;
  font-weight: 300;
  font-size: 12px;
  background-color: #67819b;
  width: 100%;
  height: 3%;
  color: white;
  text-align: center;
  letter-spacing: 0.1rem;
}
.footerLinkBg {
  translate: 14%;
  font-weight: 300;
  font-size: 12px;
  background-color: #c7936c;
  width: 80%;
  height: 100%;
  color: white;
  text-align: center;
  letter-spacing: 0.1rem;
  border-radius: 60px 60px 0 0;
}
.footerLink {
  padding-top: 4rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.footerLink a {
  color: white;
  text-decoration: none;
  font-weight: 200;
  font-size: 14px;
  margin: 0 1rem;
  margin-bottom: 1rem;
  display: inline-block;
}
.footerLogo {
  position: relative;
}
.footerLogo img {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2;
  top: -0.8rem;
  width: 128px;
  height: 128px;
  text-align: center;
}

.footerShopInfo {
  font-weight: 300;
  font-size: 14px;
}


/* --------- RWD調整 ---------- */
@media screen and (max-width: 900px) {

  .footerLink {
    width: 100%;
  }
  .footerLink a {
    color: white;
    text-decoration: none;
    font-family: "思源黑體";
    font-weight: 200;
    font-size: 14px;
    margin: 0.3rem;
  }
  .footerLinkBg {
    border-radius: 40px 40px 0 0;
    height: 45%;
  }
  .footerLogo img {
    position: absolute;
    transform: translate(-60%, -50%);
    z-index: 2;
    top: -0.8rem;
    width: 128px;
    height: 128px;
    text-align: center;
  }
  .nav-bar-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
